<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polar Palace</title>
</head>
<body>
    <button type="button" id="enter-btn">ENTER GAME</button>
<script>
    const dashTransition = document.getElementById('enter-btn');
    const dash = async () => {
    const response = await fetch('/game', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    });

    location.replace('/game')
    };

    dashTransition.addEventListener('click', dash)
</script>
</body>
</html>