<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polar Palace</title>
</head>
<body>
    <button type="button" id="intro-btn">ENTER</button>

<script>
    const introTransition = document.getElementById('intro-btn');
    const intro = async () => {
    const response = await fetch('/views/account.html', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    });

    location.replace('/account')
    };

    introTransition.addEventListener('click', intro)

</script>
</body>
</html>