<h1> INTRO </h1>

<button id= "intro-btn" type="submit">Enter</button>

<script>
    const introTransition = document.getElementById('intro-btn');
    const intro = async () => {
    const response = await fetch('/views/account', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    });

    location.replace('/account')
    };

    introTransition.addEventListener('click', intro)
</script>