<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polar Palace</title>
</head>
<body>
    <form>
        Name: <input type ="text" id="name"></input>
        Email: <input type ="text" id="email"></input>
        Password: <input type ="password" id="password"></input>
        Confirm Password: <input type ="password" id="confirm-password"></input>
    </form>
    <button type="submit" id="signup">SIGN UP</button>

    <script src="../client/js/signup.js"></script>
</body>
</html>